version: '3.8'
services:
  frontend:
    build:
      context: .
      dockerfile: ./frontend/Dockerfile

    restart: always

    ports:
      - "80:80"

    expose:
      - 3000

    volumes:
      - /etc/nginx/

  user-service:
    platform: linux/amd64
    env_file: config_env/user-service.env

    build:
      context: .
      dockerfile: ./user-service/Dockerfile

    ports:
      - "8081:8081"

    expose:
      - "8081"

    volumes:
      - .:/app/user-service/build
      - /app/user-service/node_modules

    extra_hosts:
      - "host.docker.internal:host-gateway"

  matching-service:
    env_file: config_env/matching-service.env

    build:
      context: .
      dockerfile: ./matching-service/Dockerfile

    ports:
      - "8082:8082"

    expose:
      - "8082"

    volumes:
      - .:/app/matching-service/build
      - /app/matching-service/node_modules
    extra_hosts:
      - "host.docker.internal:host-gateway"

  collab-service:
    env_file: config_env/collab-service.env

    build:
      context: .
      dockerfile: ./collab-service/Dockerfile

    ports:
      - "4003:4003"

    expose:
      - "4003"

    volumes:
      - .:/app/collab-service/build
      - /app/collab-service/node_modules

  question-service:
    env_file: config_env/question-service.env

    build:
      context: .
      dockerfile: ./question-service/Dockerfile

    ports:
      - "8084:8084"
      - "4004:4004"

    expose:
      - "8084"

    volumes:
      - .:/app/question-service/build
      - /app/question-service/node_modules

    extra_hosts:
      - "host.docker.internal:host-gateway"

  matchmaker:
    platform: linux/amd64
    env_file: config_env/matchmaker.env

    build:
      context: ./matchmaker
      dockerfile: Dockerfile
    extra_hosts:
      - "host.docker.internal:host-gateway"

  session-service:
    platform: linux/amd64
    env_file: config_env/session-service.env

    build:
      context: ./session-service
      dockerfile: Dockerfile

    ports:
      - "4100:4100"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  history-service:
    platform: linux/amd64
    env_file: config_env/history-service.env

    build:
      context: ./history-service
      dockerfile: Dockerfile

    ports:
      - "4005:4005"
      - "8085:8085"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  gateway:
    platform: linux/amd64
    env_file: config_env/gateway.env

    build:
      context: ./gateway
      dockerfile: Dockerfile

    ports:
      - "5001:5000"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  redis:
    build:
      context: ./images
      dockerfile: redis.dockerfile
    ports:
      - "6379:6379"

