USER_BFF_SERVER="user-service:4000"
MATCHING_SERVER="matching-service:4001"
COLLAB_SERVER="collab-service:4003"
SESSION_SERVER="session-service:4100"
HISTORY_SERVER="history-service:4005"
STATIC_SERVER="host.docker.internal:3000"
