GRPC_CERT="-----BEGIN CERTIFICATE-----\nMIID+zCCAuOgAwIBAgIUNmfY5pbuxPo+14WYoRiVGa4+TLswDQYJKoZIhvcNAQEL\nBQAwSDELMAkGA1UEB\n-----END CERTIFICATE-----"
GRPC_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvQIBAA=\n-----END PRIVATE KEY-----"
