EMAIL_SERVICE=Sendgrid
EMAIL_SERVER=smtp.sendgrid.net
EMAIL_PORT=587
EMAIL_IS_SECURE=false

EMAIL_USERNAME=username
EMAIL_PASSWORD=password
EMAIL_SENDER=myemail@email.com
RESET_PASSWORD_URL="http://localhost:5001/resetToken?token=$TOKEN"
