SESSION_SERVICE_URL="session-service:4100"
DATABASE_DBHOST=""
DATABASE_USERNAME=""
DATABASE_PASSWORD=""
DATABASE_NAME=""

EMAIL_SERVICE=
EMAIL_SERVER=
EMAIL_PORT=
EMAIL_IS_SECURE=

EMAIL_USERNAME=
EMAIL_PASSWORD=
RESET_PASSWORD_URL=
