name: ci-build
on: [pull_request]

jobs:
  build-go:
    runs-on: ubuntu-latest
    steps:
      - name: Set up repository
        uses: actions/checkout@main
      
      - name: Merge to main branch
        run: git checkout --progress --force ${{ github.sha }}

      - name: Setup Golang
        uses: actions/setup-go@v3
        with:
          go-version: '1.19'

      - name: 'Add dummy env files'
        run: 'touch matchmaker/.env && touch gateway/.env && touch session-service/.env'

      - name: 'Build Matchmaker'
        run: 'cd matchmaker && make build'

      - name: 'Build Gateway'
        run: 'cd gateway && make build'

      - name: 'Build Session Service'
        run: 'cd session-service && make build'